body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width:100%;
  height:40px;
}

.burgerMenu {
  position:fixed; 
  right: 25px;
  top:25px; 
  display:flex;
  flex-direction:column; 
  flex-wrap: wrap-reverse;
  max-height: calc(100vh - 150px);
}

.burgerMenuButton {
  font-size:20px;
  border-radius:50%;
  width:40px;
  height:40px;
}

.captureButton {
  position: absolute;
  right: 25px;
  top: 25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.videoPreview {
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.processCanvas {
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.pixelCarousel {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

.pixelCarousel .scroller {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  position: relative;
}

.pixelCarousel .padder {
  flex: 0 0 50%
}

.pixelPanel {
  width: 75px;
  height: 75px;
  flex: 0 0 75px;
  border: 1px solid;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 32px;
  padding-top: 20px;
  cursor: pointer;

  background-color:rgba(255,255,255,0.4);
  border-color:rgba(255,255,255,1);
}

.pixelPanel.orange {
  background-color:rgba(255,127,0,0.4);
  border-color:rgba(255,127,0,1);
}

.pixelPanel.red {
  background-color:rgba(255,0,0,0.4);
  border-color:rgba(255,0,0,1);
}

.pixelPanel.active {
  background-color:rgba(255,255,255,0.8);
}

.pixelPanel.orange.active {
  background-color:rgba(255,127,0,0.8);
}

.pixelPanel.red.active {
  background-color:rgba(255,0,0,0.8);
}

.pixelPanel .confidence {
  font-size: 12px;
}

.positionMenu {
  position: fixed;
  width: 125px;  
  bottom: 125px;
  transform: translate(-50%, 0)
}

.devices {
  background-color: #eee;
  border: 1px solid #aaa;
  max-width: 100vw;
  width: 360px;
  padding: 20px;

  position: relative;
  top: 24px;
  left: 50vw;
  transform: translate(-50%, 0);
}

.devicePanel {
  margin-bottom: 20px;
  display:grid;
  grid-template-columns:40%  60%;
  grid-template-rows: 40px 40px 40px 40px;
  align-items: center;

  border: 1px solid #ddd;
  padding: 15px;
}

.deviceSettingsPanel {
  padding-bottom: 20px;
  display:grid;
  grid-template-columns:40%  60%;
  grid-template-rows: 40px;
  align-items: center;
}

.cropPoint {
  border-radius: 50%;
  width:30px;
  height:30px;
  position: absolute;
  background-color: red;
  transform: translate(-50%, -50%);
}

.cropCanvas {
  position: absolute;
  width: 100%;
  height:100%;
}

hr {
  border:none;
  border-top: 1px solid #ddd;
  margin-top:20px;
  margin-bottom:20px;
}

a.sourcelink {
  top: 50px;
  position: relative;
  color: #888;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.notificationsFloating {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.notifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error, .warning, .info {
  color: black;
  border-radius: 5px;
  padding: 3px;
  margin: 5px;
  max-width: calc(100vw - 100px)
}

.error {
  border: 1px solid red;
  background-color: #fdd;
}

.warning {
  border: 1px solid orange;
  background-color: #ffd;
}

.info {
  border: 1px solid green;
  background-color: #dfd;
}

.debugCanvasses {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  height: 100%;
  width:100%;
  background-color: black;
}

.debugCanvas {
  max-width: 33vw;
  max-height: 33vw;
  transition: all 200ms;
  position: relative;
}

.debugCanvasZoomed {
  max-width: 100vw;
  max-height: 100vw;
  transition: all 200ms;
  position: fixed;
  left:0;
  top:0;
  z-index:2;
}

.debugCanvas span, .debugCanvasZoomed span {
  color: white;
  background-color: black;
  position: absolute;
  top:2px;
  left:2px
}

.debugCanvas canvas, .debugCanvasZoomed canvas {
  max-width: 100%;
  max-height: 100%;
  border:2px solid white
}